.PLAYCZ-TopRadia {
	margin: 10px 0 0 0;
	padding: 0 5px;
}
.PLAYCZ-TopRadia-item {
	height: 20px;
	width: 100%;
	font-size: 14px;
	margin: 3px 0;
	border-bottom: 1px solid #ebebeb;
}

.PLAYCZ-TopRadia-item-link, .PLAYCZ-TopRadia-item-link:visited {
	text-decoration: none;
	color: #000000;
}

.PLAYCZ-TopRadia-item-link:hover {
	color: #FD8700;
}

img.PLAYCZ-TopRadia-item-logo {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.PLAYCZ-TopRadia-item-title {
	float: left;
}

.PLAYCZ-TopRadia-item-listeners {
	float: right;
}

.PLAYCZ-TopRadia-spacer {
	font-size: 1px;
	height: 10px;
	clear: both;
	display: block;
}

.PLAYCZ-TopRadia-more {
	
}
.PLAYCZ-TopRadia-more a {
	display: block;
	width: 160px;
	height: auto;
	margin: 0 auto;
	padding: 8px 10px;
	text-align: center;
	background: #ebebeb;;
	color: #000000;
	text-decoration: none;
	transition: all 0.7s ease 0s;
	line-height: normal;
}
.PLAYCZ-TopRadia-more a:hover {
	color: #ffffff;
	background: #ff8b00
}